*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.b1, .b2, .b3{
    width: 100%;
    height: 100vh;
    margin-bottom: 10px;
}
.b1{
    background-color: lightcoral;
}
.b2{
    background-color: lightblue;
}
.b3{
    background-color: lightgreen;
}

nav{
    position:fixed;
    top:0;
    width: 100%;
    height: 60px;
    background-color: green;
    display:flex;
    justify-content: space-between;
    align-items: center;

    div{
        display:flex;
        gap: 100px;
        height: 100%;
        align-items: center;
        // justify-content: space-between;
    }
}