@mixin light-weight-font{
    font-weight: 200;
    opacity: 0.8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    padding: 1rem;
}

main{
    width: 100%;
    padding: 1.5rem;
    padding-top: 3rem;
    border: 1px solid black;  
}

.view-1{

    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;

    p{
        @include light-weight-font;
    }

    h1{
        font-weight: 300;
        font-size: 3.8rem;
        width: 70%;
    }

    img{
        width:100%;
        object-fit: cover;
        border-radius: 1rem;
    }

}

.view-2{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    .top{
        display: flex;
        flex-direction: column;
        gap:2rem;

        p{
            @include light-weight-font;
        }

        h1{
            font-weight: 400;
            font-size: 3rem;
            width: 90%;
        }

        button{
            margin-top: 1rem;
            width: fit-content;
            padding: 1rem;
            border-radius: 0.5rem;
            background-color: black;
            color: white;
        }  
             
    }

    .breaker{
        border: 1px solid black;
        width: 100%;
    }
    .breaker-1{
        border: 1px solid black;
        width: 100%;
    }

    .bottom{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .elem{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            h1{
                font-weight: 500;
                font: medium;
                
            }
        }
        svg{
            width: 60px;
            aspect-ratio: 1/1;
        }

    }
}

@media (min-width: 1020px) {

    main{
        padding:3rem;
    }
    .view-1{
        
        h1{
            font-size: 8rem;
            width: 100%;
        }
    }
    
    .view-2{
        flex-direction: row;
        
     .top {
        width: 60%;
        justify-content: space-between;
        h1 {
            font-size: 5rem;
            width: 70%;
        }
    }

    .bottom{
        width:40%
    }

    .breaker-1{
        width:0;
        height: auto;
    }
    }
}
