*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
}
#heading{
    color: white;
    text-align: center;
    padding: 20px;
}

#box{
    width: 600px;
    height: 300px;
    background-color: rgb(123, 107, 107);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 5px solid white;
}

#box p{
    font-size: 10rem;
}

#btn{
    width: 100px;
    height: 40px;
    font-size: 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(124, 199, 124);

    
}

#btn:active{
        scale: 0.95;
    }