*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    background-color: black;
}
#box{
    width: 300px;
    height: 300px;
    background-color: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 10px solid white;
}

#btn{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}